*.swp
*.DS_Store
pkg/*
output/*
output.kml
example/localconfig.csv
spec/fixtures/*.csv
spec/fixtures/test.kml
spec/fixtures/waypoint-by-name.kml
spec/fixtures/ftwood2.kml
spec/fixtures/*.kmz
dump.rdb
test.ttt
spec/environment/Output/*
